<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Adding Page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<main>
<div class="container">
    <h2>New Employee Form</h2>
    <hr>
<form action="#" th:action="@{/addEmployee}" th:object="${employee}" th:method="POST">
    <input th:type="text" onkeypress="return /[a-z]/i.test(event.key)" th:field="*{firstname}"
           placeholder="Enter the firstname" class="form-control mb-4 col-4">
    <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="alert alert-danger"></p>
    <input th:type="text" onkeypress="return /[a-z]/i.test(event.key)" th:field="*{lastname}"
           placeholder="Enter the lastname" class="form-control mb-4 col-4">
    <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="alert alert-danger"></p>
    <input type="number" onkeypress="return event.charCode >= 48" min="0" th:field="*{exp}"
           placeholder="How many years of experience ?" class="form-control mb-4 col-4">
    <input th:type="text"  th:field="*{email}"
           placeholder="Enter the Email" class="form-control mb-4 col-4">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></p>
    <input th:type="text" th:field="*{governmentID}"
           placeholder="Enter the Govenment ID" class="form-control mb-4 col-4">
    <p th:if="${#fields.hasErrors('governmentID')}" th:errors="*{governmentID}" class="alert alert-danger"></p>

    <select name="DepartemntList" th:field="*{departement}">
       <option th:each="Departementlist :${deptList}" th:text="${Departementlist.getDeptname()}"
               th:value="${Departementlist.getId()}"/>
   </select>
</br>
    <button type="submit" class="btn btn-success col-2">Add New Employer</button>
</form>
    <hr>
    <a th:href="@{/}">Go back to Employees List</a>
</div>
</main>
</body>
</html>